/* ------------------------------Шапка Сайта---------------------------------  */

/* -----------------------------Header--------------------------------------*/

/*----------------------------------PHONE AND MAIL-------------------*/

/*--------------------------------Main--------------------------*/

/*-------------------------------Icons for feautures------------------------*/

/* .section-feature-list {
  display: flex;
} */

/*-------------------------------END------------------------*/

/*--------------------------------Section-features--------------------*/

/*----------------------------------------Section Work------------------*/

/*----------------------------------SectionTeam---------------------*/

/*-------------------------------Icons for team------------------------*/

/*-------------------------------Clients--------------------------------*/

/*------------------------footer------------------------*/

/* .third-box {
  display: flex;
  align-items: center;
} */

/*---------------------Портфолио----------------------------------*/

/*---------------------Section-buttoon----------------------------*/

/* .section-information-item:last-child{
    margin-right: 0;
}
   */
